.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(34, 105, 176);
    padding-top: 15px;
    padding-bottom: 15px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
}

.input {
    width: 272px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #808080;
    padding: 5px 10px;
    font-size: 22px;
}

.button {
    display: flex;
    width: 80px;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: #d036e4;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .64px;
}

.button:hover {
    background-color: #d68007;
}